html, body, #mp{
	height:100%;
}

.btn{
	margin: 0px;
}

.fa-user-circle-o{
	color: white;
}

 .modal-dialog{
 	max-width: 50%;
 }

.fixedDiv, .loadedContent{
	height:96%;
}

/* navbar */
.bg-primary{
	background-color: #3b3e42!important;
}

.navbar{
	color: rgba(255,255,255,.5);
	height: 3.5rem;
}

.card-block > .jumbotron{
	background-color:white;
}
