html, body, #mp{
	height:100%;
}

.btn{
	appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    border: 0;
    background: transparent;
}

 .modal-lg{
 	max-width: 80%;
 }

.fixedDiv, .loadedContent{
	height:93%;
}

.btn.light{
	width:50px;
	height:50px;
	border-radius: 50%;
	border: none;
	background-color: #FF5252;
	color:white;
}

.btn.light:hover{
	color:white;
	background-color: #e44949;
}

/* navbar */
.bg-primary{
	background-color: #303F9F!important;
}

.navbar{
	color: lightgray;
}

/* primary */
.badge-primary{
	background-color: #2196F3;
}

.btn-primary{
	color: #2196F3;
}

.btn-primary:hover{
	color: white;
	background-color: #2196F3;
}

.btn-primary:disabled{
	color: #2196F3;
	opacity:0.5;
	outline: none;
    border: 0;
    background: transparent;
}

/* success */
.btn-success{
	color: green;
}

.btn-success:hover{
	color: white;
	background-color: green;
}

/* secentary */
.btn-secondary:hover{
	color:#757575;
}

/* warning */
.btn-warning{
	color:orange;
}
.btn-warning:hover{
	color: white;
	background-color: orange;
}
.btn-warning:disabled{
	color: orange;
	opacity:0.5;
	outline: none;
    border: 0;
    background: transparent;
}
/* danger */
.btn-danger{
	color:#FF5252;
}

.btn-danger:hover{
	color: white;
	background-color: #FF5252;
}

.btn-danger:disabled{
	color: #FF5252;
	opacity:0.5;
	outline: none;
    border: 0;
    background: transparent;
}

