[Unit]
Description=Pewss
After=network.target
After=mongod.service
After=redis.service

[Service]
Type=simple
User=nobody
Group=nobody
WorkingDirectory=/home/tsmh/Pewss/
ExecStart=/usr/local/bin/node /home/tsmh/Pewss/Build/Entry.js
Restart=always
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
