node_modules/
build/
plugins/
Logs/
Server/MongoDB/
mongodLogs/
Server/Sim/env/*.doc
Server/Home/*
Secrets/
npm-debug.log
simulator.conf
yarn.lock
.yarnclean
.DS_Store
*.swp
*.swo
*~
*.class
*.jar
SyntheticWorkflows/
