node_modules/
Build/
plugins/
Logs/
Server/Sim/env/*.doc
Server/Home/*
npm-debug.log
simulator.conf
.yarnclean
.DS_Store
*.swp
*.swo
*~
*.class
*.jar
SyntheticWorkflows/
Server/Secrets/TLS/
Server/Secrets/Config.json
