.toolbar{
	padding-left: 2vh;
	background-color: #dbdbdb;
}

.btn-toolbar{
	position: absolute;
	right: 1rem;
}

pre{
	overflow-x: hidden;
	overflow-y: auto;
	word-break: normal;
	word-wrap:  break-word;
	white-space: pre-wrap;

}
